.itens{
  background-color: #fff;
  border-style: solid;
  border-color: #c2c2c2;
  border-width: 0px;
  padding: 20px;
  text-align: center;
  display: flex;
  width: 50px;
  border-radius: 5%;
  margin: 10px;
  
}
.itens:hover{
  color: rgb(61, 61, 61);
}
.fotos{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.componente{
    display: flex;
    
}